
body{
  font-size: 14px;
}
.overalyy{
  margin: 0;
  padding: 0;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.panel:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text {
  color: white;
 
  position: absolute;
  font-size: inherit;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 15px;
}
header {
  padding: 154px 0 100px;
}
.black{
  display: none;

}

.status{

  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  background-color: #e60012;
  color: white;
  font-size: 14px;

}
 .link a{
  color: white;
  cursor: pointer;
  text-decoration: none;
 
}
#focusmeplease{
  padding: 5px;
  background-color: white;
  width: 100px;

  color: #0054a7;
}

.ribbons{
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}
.headers{
  background-color: #e60012;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 10px 10 0 0;
  width: 100%;
  margin: 0;
}
.ribbons li{
  list-style: none;;
}

.visible{
  display: block;
}

nav .navbar-nav li a{
  color: #e60012 !important;
  font-size: 14px;
  letter-spacing: 2px;
  }

  #logo{
    height: 50px;;
  }
/* below size */
@media(max-width: 992px){
  .slider {
    width: 100%;
    margin: 100px auto;
}
.center img{
  height: 150px;
  width: 250px;
}

  
.sliders{
  top:0;
  left: 0;
  bottom: 0;
  position: absolute;
  max-width: 100%;
  max-height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;

}
.caption{
  position: relative;
  top: 100%;
  bottom: 0%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
font-family: 'Anton', sans-serif;
}
.caption h1{
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
font-family: 'Anton', sans-serif;
font-weight: bold;
}
.sliders p{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
}
.sliders p:after{
  content: "";
  display: block;
  background-color: #e60012;
  width: 20%;
  height: 10px;
  margin: 1em 0;
  position: relative;
  left: 40%;

}
  
/* service section */
.panel{
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 10px;
  
  
}
.service_item{
  background-color: #4554;
  height: 100px;
  width: 90%;
 text-align: center;
 
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services h2{
  background-color: #e60012;
  height:auto;
  width: 250px;
  padding: 5px;
  font-size: 14px;
  color:white;
  border-radius: 20px;
  transform: translateY(-50%);
}
.service_item img{
  width: 60%;
  height: 60%;
  max-width: 60%;
  max-height: 60%;
}
.service_item_description{
  width: 100%;
  text-align: center;
}
.service_item_description p{
 
  padding: 15px;
}

}




/* middle carousel indicator */

.carousel-indicators.middle {
  left: 50%;
  right: 0;
  top: auto;
  bottom: 15px;
  bottom: 20%;
  text-align: center;
  
}
  .carousel-indicators.middle li {
      float: none;
      display: inline-block;
  }

  .carousel-indicators .active {
    background-color: #e60012;
  }


/* for devices above the size */
@media (min-width: 992px) {

  
section img{
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    /* margin: auto; */
    object-fit: cover;
  }
}
.custom-nav{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 99;
  width: 100%;
  

}

.sliders{
  top:0;
  left: 0;
  bottom: 0;
  position: absolute;
  max-width: 100%;
  max-height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;

}
.caption{
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  text-align: center;
  animation-name: example;
    animation-duration: 5.5s;
}
.caption h1{
  font-size: 4em;
  font-family: 'Righteous', cursive;
  font-family: 'Anton', sans-serif;
  letter-spacing: 13px;
  font-weight: bold;
 
  
}

@keyframes example{
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(-20%);
  }

}
.sliders p:after{
  content: "";
  display: block;
  background-color: #e60012;
  width: 20%;
  height: 5px;
  margin: 1em 0;
  position: relative;
  left: 40%;
 


}
.navbar-dark .navbar-toggler-icon {
 
  color: white;
}
.navbar-dark .navbar-toggler {
  color: rgba(191, 8, 8, 0.5);
  border-color: rgb(230, 0, 18);
  background-color: #0054a7;
  outline: none;
}
section {
  padding: 0px 0;
  margin: 0;
}


/* products sections */
button{
  float: right;
  background-color: #e60012;
  border: 0px;
padding: 5px;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  border-radius: 20px;
  outline: none;
}
.results_img{
  width: 100%;
  margin: 1em 0;
  list-style: none;
  background-color: #ddd;
 
  cursor: pointer;;
}
.results_img img{
  height: 100%;
  width: 100%;;
}
.results_img p{
 text-align: center;
  width: 100%;
  height: 100%;;
}
.card li{
  cursor: pointer;
}
#products{
  padding-bottom: 50px;

}
.products h2{
  background-color: #e60012;
  width: 250px;
  height:auto;
  padding: 5px;
  font-size: 14px;
  color:white;
  border-radius: 20px;
  transform: translateY(-50%);
}

/* service section */
.panel{
  text-align: center;
 
  
  
}
.service_item{
  background-color: #ddd;
  height: 50%;
  width: 100%;
  padding: 25%;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card {
  font-size: 14px;
}
.services h2{
  background-color: #e60012;
  height:auto;
width: 250px;
  padding: 5px;
  font-size: 14px;
  color:white;
  border-radius: 20px;
  transform: translateY(-50%);
}
.service_item img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.service_item_description{
  width: auto;
  padding: 10px;
  text-align: center;
}
.service_item_description p{
 
  padding: 15px;
}
.contact h2{
  background-color: #e60012;
  height:auto;
width: 250px;
  padding: 5px;
  font-size: 14px;
  color:white;
  border-radius: 20px;
  transform: translateY(-100%);
}
.myicon{
  color: #e60012;
}

/* contact us */
#contact{
  padding: 20px;
}
.contact_form{
  background-color: #ddd;
  padding: 20px;
}
.contact_form input[type="text"]{
  outline-color: #ddd;
  background-color: #b3b3b3;
  border-radius: 0;

}
#textarea{
  outline-color: #ddd;
  background-color: #b3b3b3;
  border-radius: 0;
}
.contact_form input[type="submit"]{
  background-color: red;
  height:auto;
width: 250px;
  padding: 5px;
  font-size: 20px;
  color:white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border: 0px;
}


/* /footer */
.bluez{
  background-color: #0054a7;
  height: 100%;;
  width: 100%;

  
}
#bottom{
  background-color: #0000;
}
.desc{
  color: white;
  font-weight: normal;
}
.heading{
  color: white;
  font-weight: 3000;
  font-weight: bold;
}
footer #bottom{
  background-color: rgb(0, 0, 0);
margin: 0;
height: 80px;
transform: translateY(80px);
line-height: 80px;
  color: white;;

}
.overlayer{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #e60012;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.panel:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.mapouter
{
  text-align:left;
  width:100%;
}
.gmap_canvas 
{
  overflow:hidden;
  background:none!important;
  height:auto;
  width:100%;
}

#aboutus{

}

/* for about sliders  */

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
    /* width: 50%; */
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.more{
  background-image: url('/images/slider_down.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
 
}
.text-center{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  
}
.text-center p{
text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 20px;
letter-spacing: 3px;
/* transform: translate(50%  50%); */
padding: 5%;
animation-name: trans;
animation-duration: 5s;

}
@keyframes trans{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 2px;
  width: 50px;
  height: 50px;;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #0054a7;
}


/* map */
.mapouter
{
  text-align:left;
  
  width:auto;
}.gmap_canvas 
                            
{
  overflow:hidden;
  background:none!important;
  /* height:500px;
  width:600px; */
}
.iconss{

  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  color: #e60012;
  cursor: pointer;
  margin: 10px;
  line-height: 50px;
  background-color: white;
  border-radius: 50%;
}